.product-cnt {
  height: 5rem;
  border: 1.5px solid #f3f3f3;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.product-active {
  border-color: #0f6eff;
}
.product-content {
  width: 80%;
}
.product-content .tick {
  height: 1rem;
  width: 1rem;
}
.product-content .tick img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-content .content-main {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}
.product-content .content-desc {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
