.modal {
  background: #ffffff;
  border-radius: 10px;
  padding: 1rem;
}
.modal .title {
  margin: 1rem 0;
}
.modal .title .head {
  font-weight: 600;
  font-size: 1.4rem;
  color: black;
}
.modal .title .sub {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.modal .upload {
  border: 1.5px dashed #0f6eff;
  border-radius: 10px;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  color: #0f6eff;
  cursor: pointer;
}
.modal .or {
  width: 90%;
  height: 1.5px;
  background-color: #c2c2c2;
  margin: 1rem auto;
}
.modal .or .cnt {
  transform: translate(600%, -70%);
  padding: 1rem;
  background-color: white;
  width: 5px;
  height: 5px;
  text-align: center;
}
