.page{
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  background: #F7F9FF;
  overflow-x: hidden;
}
.sidebar-cnt{
  width: 5vw;
  margin: 0;
}
.main{
  width: 95vw;
  height: 100vh;
  overflow-x: hidden !important;
  margin: 0;
}
.container {
  overflow-x: hidden;
}